<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/bootstrap') %>
        <title>My Cars</title>
</head>

<body>
    <%- include('partials/navbar',{isLoggedIn}) %>
        <% if(isLoggedIn){ %>
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <td>Car ID</td>
                        <td>Car Model ID</td>
                        <td>Rented Date</td>
                        <td>Needs Repair</td>
                        <td>Color</td>
                        <td>Condition</td>

                    </tr>
                </thead>
                <tbody>
                    <% for(let car of carsArray){ %>
                        <tr>
                            <% const{CarID,CarModelID,RentedDate,NeedsRepair,Color,Condition}=car; %>
                                <% const info=[CarID,CarModelID,RentedDate,NeedsRepair,Color,Condition]; %>
                                    <% for(let i of info){ %>
                                        <td>
                                            <%=i %>
                                        </td>
                                        <% } %>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <% }else{ %>
                <h1>You are not logged in.</h1>
                <h2>Log in or create a new account</h2>
                <% } %>
</body>

</html>