<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up!</title>
    <%- include('partials/bootstrap') %>
</head>

<body>
    <%- include('partials/navbar',{isLoggedIn:true}) %>
        <form action="/signup" method="POST">
            <div class="container-fluid mt-5">
                <div class="row">
                    <label class="col" for="FN">First Name:</label>
                    <input class="col" required type="text" name="FN" id="FN" placeholder="first name">
                </div>
                <div class="row mt-2">
                    <label class="col" for="LN">Last Name:</label>
                    <input class="col" required type="text" name="LN" id="LN" placeholder="last name">
                </div>
                <div class="row mt-2">
                    <label class="col" for="DOB">Date of Birth:</label>
                    <input class="col" required type="date" name="DOB" id="DOB" placeholder="data of birth">
                </div>
                <div class="row mt-2">
                    <label class="col" for="address">Address:</label>
                    <input class="col" required type="text" name="address" id="address" placeholder="Address">
                </div>
                <div class="row mt-5" id="subscriptionTypeContainer">
                    <label for="subType" class="form-label col-12">Subscription Type:</label>
                    <select class="form-select col-6" id="subscriptionTypeSelect" name="subscriptionTypeSelect"
                        required>
                        <option selected disabled value="">Choose...</option>
                        <option value="1">Silver</option>
                        <option value="2">Gold</option>
                        <option value="3">Platinum</option>
                        <option value="4">Employee</option>
                    </select>
                    <table>
                        <thead>
                            <tr>
                                <th>Number of Allowed Cars</th>
                                <th>Cost</th>
                            </tr>
                        <tbody>
                            <tr id="subsRowValues">
                                <td id="allowedCars">0</td>
                                <td id="cost">0</td>
                            </tr>
                        </tbody>
                        </thead>
                    </table>
                </div>
                <div class="row mt-2">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="personType" id="customer" autocomplete="off" checked
                            value="customer">
                        <label class="btn btn-outline-primary" for="customer">Customer</label>

                        <input value="staff" type="radio" class="btn-check" name="personType" id="staff"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="staff">Staff Member</label>

                    </div>
                </div>
                <div class="row mt-2">
                    <label for="password">Enter A Password</label>
                    <input type="password" name="password" placeholder="password" id="password" required>
                </div>
                <button class="btn btn-primary">SIGNUP</button>
            </div>
        </form>
        <script src="/js/signupScript.js"></script>
</body>

</html>