
body,.weather-container{
    background-color:#ccc;
    text-align:center;
    display:block;

}
.weather-container{
    margin-bottom: 0px;
}
form{
        width:50%;
        margin:auto;
    }
.Container, .radioContainer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}
label:hover{
    cursor:pointer;
}
.radioContainer{
    border: 1px solid blue;
    flex-direction: column;
    width:70%;
    align-items: flex-start;
    padding:10px 0.5em;
    border-radius:15px;
    font-size:1.5em;
}

.weatherDescription{
    font-size:22px;

}
.temp{
    font-size:60px;
    margin:0 0 40px;
    font-weight:bold;
}

button, #city{
    margin:0 20px 40px ;
    border-radius: 10px;
    font-size:20px;
    transition: transform 0.5s ease-in;
    padding:0.7em;
}
button{
    color:white;
    background-color:rgb(78, 194, 178);
flex-shrink: 0.5;}
button:hover, #city:hover{
    cursor:pointer;
    transform: translateY(-5px);
}
input, label{
    display:inline;

}
input:hover{
    cursor:pointer;
    transform: translateY(-2px);
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
footer{
    position:fixed;
    bottom:0;
    left:40%;
}
@media (max-width:600px){
    .Container,.radioContainer{
        flex-direction:column;
    }
    footer{
        left:25%;
        margin:20px 0 5px;
    }
}

.additionalWeatherInfo{
    text-align:center;
    border: 1px solid black;
    margin:auto;
    display:block;
    display:flex;
    justify-content: center;
    padding:1.5em;
    display:none;
}
